/* text colors */
$color-white: #ffffff
$icon-font-path: '../fonts/bootstrap/'

/*  containers */
/*$screen-sm: 991px*/
$grid-float-breakpoint: 991px
$screen-lg: 1240px
$grid-gutter-width: 30px
$container-large-desktop: ((1220px + $grid-gutter-width))


/* override variable - http://getbootstrap.com/customize/#less-variables */
$font-family-base: 'PT Sans Narrow', sans-serif
$font-size-base: 16px
$font-size-h2: floor(($font-size-base * 1.90))
$font-size-large: ceil(($font-size-base * 1.10))
$line-height-base: 1.628571429
$headings-color: #6B6B6B

/* buttons */
$btn-default-border: #929292
$border-radius-base: 2px
$padding-base-vertical: 2px
$padding-base-horizontal: 16px
$btn-default-bg :#858585
$btn-default-color: $color-white
$btn-danger-bg: #EB0116
$btn-danger-border: #EB0116
$btn-warning-bg: #FE320F
$btn-warning-border: #FE320F
$btn-info-bg: #205eba
$btn-info-border: #316dc7
$border-radius-large: $border-radius-base
$padding-large-horizontal: $padding-base-horizontal*2



/* custom colors */
$custom-1grey-background: #EAEAEA
$custom-1grey-color: #6d6d6d
$custom-white-text-shadow: 2px 1px 1px $color-white
$custom-1blue-background: #457ED3
$custom-2blue-background: #3968AE

/* navs */
$nav-link-padding: 4px 20px 4px 10px
$nav-link-hover-bg: #3C6EB8

/* navbar */
$navbar-height: 60px
$navbar-default-bg: #457ED3
$navbar-default-border: transparent
$navbar-default-link-color: $color-white
$navbar-default-link-hover-color: $color-white
$navbar-default-link-active-color: $color-white
$navbar-default-link-hover-bg: #205EBA
$navbar-default-link-active-bg: #205EBA
$navbar-default-toggle-border-color: $color-white
$navbar-default-toggle-icon-bar-bg: $color-white
$navbar-default-toggle-hover-bg: #205eba

/* labels */
$label-info-bg: #3083FF
$label-default-bg: #363636
$label-success-bg: #52A601

$hr-border: #D0D0D0

/* wells */
$well-bg: #F2F3F7
$well-border: transparent

/* margins */
@mixin margin-tb-20
	margin-top: 20px
	margin-bottom: 20px



@mixin border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

@mixin transition1($time)
	-webkit-transition: all $time ease
	-moz-transition: all $time ease
	-o-transition: all $time ease
	-ms-transition: all $time ease
	transition: all $time ease

h2
	text-transform: uppercase
.btn
	text-shadow: none
	text-transform: uppercase
.nav
	a, a:hover, a:focus
		color: $color-white
	li
		border-bottom: 1px solid #4474BA
.nav-tabs
	a
		color: #333333
		font-size: 18px
	li
		border-bottom: 0px
nav.navbar
	/*font-size: $font-size-large*/
	font-weight: bold
	letter-spacing: 1px
	box-shadow: 2px 2px 12px #000
	border-bottom: 0 none
	li
		border-bottom: 0 none
		border-right: 2px dotted #316dc7
	li.first
		border-left: 2px dotted #316dc7
	a
		text-transform: uppercase
	.navbar-collapse.in
		li
			border: 0 none



@import "bootstrap"

body
	position: relative
	padding-top: 59px
.static-page
	font-size: 17px

.well
	box-shadow: none
.well2
	background: #E7F1F3
	padding: 8px 15px
/*.training-list-row*/
.btn
	white-space: normal

.label
	border-radius: 1em
	padding: 0.3em 0.8em
.navbar-brand
	padding: 17px 0

/* own helpers */

.font-size-small
	font-size: ceil($font-size-large*0.7)
.font-size-large
	font-size: $font-size-large
.font-size-big
	font-size: ceil($font-size-large*1.8)
.font-size-max
	font-size: ceil($font-size-large*2.7)
.font-weight
	font-weight: normal

.text-red
	color: #EB0116
.text-grey
	color: #898989
.text-lightgrey
	color: #C9C9C9
.text-color1
	color: #646464

.line-bottom
	border-bottom: 1px solid #D0D0D0
	padding-bottom: 3px
.line-left
	border-left: 1px solid #D0D0D0
	padding-left: 15px
.line-right
	border-right: 1px solid #D0D0D0
	padding-right: 15px
.bg-color1
	background: #E9EAEE
.bg-color2
	background: #F3F3F3

.margin-top0
	margin-top: 0
.margin-bottom0
	margin-bottom: 0
.margin-top20
	margin-top: 20px
.margin-bottom20
	margin-bottom: 20px
.margin-left20
	margin-left: 20px
.padding-top0, .padding-top0.padding-top0
	padding-top: 0
.padding-top15
	padding-top: 15px
.padding-bottom15
	padding-bottom: 15px
.btn-special-slider
	padding: 5px 32px

.list-bg1
	list-style-type: none
	padding-left: 20px
	li
		background: url('../images/li.png') no-repeat 0px 11px
		padding-left: 20px
.navbar-nav > li > a
	padding-left: 20px
#nav-lupa
	form
		display: none
		position: absolute
		background: #205EBA
		margin: 0 0 0 -275px
		padding: 5px 0
		width: 335px
		input
			background: transparent
			color: $color-white
			border: none
			width: 230px
			margin-left: 10px
			font-weight: normal
		::-webkit-input-placeholder
			color: $color-white
		:-moz-placeholder
			color: $color-white
		::-moz-placeholder
			color: $color-white
		:-ms-input-placeholder
			color: $color-white
.navbar-collapse.in
	overflow: visible
	#nav-lupa
		form
			position: unset
			margin: 0
			border: 0 none
			width: 100%
	.form-group
		display: inline-block
		vertical-align: middle

/* rows */
.konf-row
	margin-top: 10px
	padding-bottom: 20px
	.training-list-row .training, .ads-row .our-partners-list li
		margin-right: 0
	h3
		font-size: 36px
	.bg-szolenie-p1
		background: #f2f3f7 url('../images/bg-szolenie1.jpg') no-repeat left top
		margin-bottom: 20px
		min-height: 20px
		border-radius: 2px
.training-list-row
	padding-top: 20px
	overflow: hidden
	position: relative
	display: block
	width: 100%
	text-align: center
	.training-list
		/* overflow: hidden */
	.training
		display: inline-block
		overflow: hidden
		margin-right: 0.2%
		width: 300px
		height: 250px
		z-index: 1
		color: $color-white
		text-transform: uppercase
		position: relative
		background-position: top center
		background-size: auto 100%
		.div-in
			overflow: hidden
			position: relative
			display: block
			z-index: 2
			width: 100%
			height: 250px
		.link
			bottom: 0
			display: none
			left: 0
			position: absolute
			right: 0
			text-indent: -20000px
			top: 0
			z-index: 100
		.overlay, .overlay-hover
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			z-index: 3
		.overlay
			opacity: 0.5
		.overlay-hover
			opacity: 0.5
			/*top: 450px*/
			top: 96px
			border: 0
			border-top-width: 12px
			border-style: outset
			@include transition1(0.3s)
		
		.inside
			z-index: 4
			position: relative
			width: 100%
			height: 100%
			overflow: hidden
			p, small, span.label, .title, .label-ribbon
				margin: 0
			.title, .date, .description
				padding: 0
				overflow: hidden
			.labels, .desc, .labels-bottom
				width: 100%
			.labels
				height: 35px
				.pull-left
					margin: 11px 0 0 11px
				.pull-right
					margin: 11px 11px 0 0
					max-width: 180px
					text-overflow: ellipsis
					white-space: nowrap
					overflow: hidden
			.desc
				height: 180px
				overflow: hidden
				position: relative
				width: 100%
			.title
				color: $color-white
				text-align: center
				text-shadow: 2px 1px 1px #5C5D5D
				/*top: 55px*/
				top: 80px
				position: absolute
				height: 56px
				width: 100%
				line-height: 1.1
				padding: 0 11px
				font-size: 17px
				font-weight: bold
				@include transition1(0.3s)
			.date
				text-align: center
				font-size: floor(($font-size-base * 0.85))
				/*top: 8px + 60px + 45px*/
				top: 123px
				position: absolute
				text-align: center
				width: 100%
				height: 21px
				@include transition1(0.3s)
			.last-day
				height: 25px
				top: 149px
				position: absolute
				text-align: center
				width: 100%
				background: rgb(235, 1, 22)
				background: rgba(235, 1, 22, 0.8)
				@include transition1(0.3s)
			.description
				line-height: 1.3
				text-shadow: 2px 1px 1px #5C5D5D
				height: 64px
				top: 60px + 10px + 8px + 21px + 60px + 45px
				position: absolute
				text-align: center
				width: 100%
				overflow: hidden
				padding: 0 11px
				@include transition1(0.3s)
			.button
				top: 10px + 60px + 10px + 8px + 21px + 60px + 45px
				position: absolute
				text-align: center
				width: 100%
				@include transition1(0.6s)
			.labels-bottom
				height: 35px
			small
				text-transform: none
			span.label
				margin: 5px
				border-radius: 12px
				font-size: floor(($font-size-base * 0.85))
				font-weight: normal
			.label-ribbon
				font-size: $font-size-base
				margin: 5px 0 5px 5px
				opacity: 0.9
	.bg1
		background: url('../images/szkolenie2.jpg')
	.bg2
		background: url('../images/tekstura1.jpg')
	.bg3
		background: url('../images/szkolenie3.jpg')
	.training
		.color1
			background-color: rgb(76, 1, 132)
			border-color: rgb(76, 1, 132)
			border-color: rgba(76, 1, 132, 0.4)
		.color2
			background-color: rgb(24, 74, 60)
			border-color: rgb(24, 74, 60)
			border-color: rgba(24, 74, 60, 0.4)
		.color3
			background-color: rgb(75, 33, 8)
			border-color: rgb(75, 33, 8)
			border-color: rgba(75, 33, 8, 0.4)
.no-touch, .no-js
	.training:hover
		.link
			display: inline
		.title
			top: -56px
		.date
			top: 15px
		.last-day
			top: 10px + 8px + 21px
		.description
			top: 10px + 20px + 10px + 8px + 21px
		.button
			top: 20px + 60px + 20px + 10px + 8px + 21px
		.overlay-hover
			top: 35px
			opacity: 0.8
.touch
	.training
		.link
			display: inline
	
.ads-row
	padding-bottom: 20px
	padding-top: 30px
	.our-partners-list
		li
			margin-right: 0.2%
			margin-bottom: 5px
			img
				margin: 0
.our-partners
	padding-top: 20px
	padding-bottom: 60px
	h2
		margin-bottom: 30px 
.our-partners-list
	text-align: center
	li
		min-width: 220px
		display: inline-block
		text-align: center
		img
			margin: 50px 0
			text-align: center
			vertical-align: middle
.ads-list
	li
		margin-right: 0.2%
		img
			margin: 0
.gr-row
	background: $custom-1grey-background
	color: $custom-1grey-color
	text-shadow: $custom-white-text-shadow
	padding-top: 35px
	padding-bottom: 40px

.footer-row
	background: $custom-1blue-background
	color: $color-white
	padding-bottom: 40px
	a
		color: #FFBB03
	.nav
		padding-right: 60px
		a
			color: $color-white
	h3
		color: $color-white

.copy-row
	background: $custom-2blue-background
	color: $color-white
	p
		@include margin-tb-20
#slider1_container
	position: relative
	top: 0px
	left: 0px
	width: 100%
	height: 435px
	overflow: hidden
#slide1_container_ins
	cursor: move
	position: absolute
	left: 0px
	top: 0px
	width: 100%
	height: 435px
	overflow: hidden
.slide-content
	position: absolute
	width: 100%
	top: 10px
	left: 0
	padding: 0
	color: $color-white
	height: 97%
	.label
		font-size: floor(($font-size-base * 1.30))
		font-weight: normal
		margin-top: 20px
		padding: 0.3em 0.8em
	.label-type
		position: absolute
		left: 5%
	.label-category
		position: absolute
		right: 5%
	.labels-bottom
		position: absolute
		bottom: 25px
		/*padding-left: 5px*/
		left: 5%
		.label
			font-size: ceil($font-size-base * 0.85)
			margin: 0 15px 0 0
			opacity: 0.7
	.title
		font-weight: bold
		max-height: 88px
		width: 80%
		margin: 90px auto 10px
		color: $color-white
		font-size: floor(($font-size-base * 2.50))
		text-shadow: 2px 1px 1px #5C5D5D
	.description
		font-size: floor(($font-size-base * 1.25))
		height: 65px
		margin: 0 auto 5px
		width: 80%
		overflow: hidden
		span
			background: #306CC6
			padding: 2px 20px
	.date
		span
			background: #306CC6
			padding: 3px 20px
	.button
		margin-top: 23px
		margin-bottom: 5px
	.last-day
		height: 35px
		line-height: 35px
		text-align: center
		margin: 0
		width: 100%
		background: rgb(84, 49, 67)
		background: rgba(84, 49, 67, 0.8)

.slider-overlay
	height: 435px
	left: 0
	position: absolute
	top: 0
	width: 910px
	background: #202020
	opacity: 0.8
.prelegent
	padding-left: 5px
	padding-right: 5px
	margin-bottom: 10px
	.prelegent-ins
		padding-top: 15px
		padding-bottom: 15px
		@include transition1(0.6s)
	img
		border-radius: 50%
		border: 12px solid $color-white
		@include transition1(0.6s)
		max-width: 80%
	.line-bottom
		display: block
		width: 90px
		margin: 10px auto
		@include transition1(0.6s)
	.prelegent-ins:hover
		background: #D9DADD
		.line-bottom
			border-bottom: 1px solid #457ED3

.konf-date
	border-radius: 7px
	background: #373737
	color: $color-white
	.day
		background: $color-white
		border-radius: 5px
		border: 1px solid #CBCCCE
		padding: 5px 0
.konf-nav-side
	position: relative
	width: 283px
	.border-list-nav
		height: 100%
		position: absolute
		width: 248px
		border: 1px solid #E6E6E6
		right: 6px
		z-index: 10
		background: #F7F7F7
		@include border-radius(4px)
	.list-group-item
		background-color: transparent
	li
		padding: 0 7px 0 0
		border: none
		border-bottom: 0px solid $color-white
		margin: 0
		z-index: 14
	li:hover, li.active, .list-group-item.active, .list-group-item:hover
		background: #467ED5 url('../images/nav-bg.jpg') no-repeat 0 0
		border-bottom: 1px solid $color-white
		z-index: 15
		a
			background: transparent
			color: $color-white
			text-decoration: none
			text-shadow: 1px 1px 1px #000000
			span
				border-bottom: 0px
	a
		font-weight: bold
		color: #808080
		display: block
		margin-left: 30px
		font-size: $font-size-large
		background: #F7F7F7
		text-shadow: 1px 1px 1px $color-white
		span
			padding: 7px 0 6px 40px
			display: block
			border-bottom: 1px solid #E6E6E6
		.bg1
			background: url('../images/nav-konf-1.png') no-repeat 10px 11px
		.bg2
			background: url('../images/nav-konf-2.png') no-repeat 10px 11px
		.bg3
			background: url('../images/nav-konf-3.png') no-repeat 10px 11px
		.bg4
			background: url('../images/nav-konf-4.png') no-repeat 10px 11px
		.bg5
			background: url('../images/nav-konf-5.png') no-repeat 10px 11px
		.bg6
			background: url('../images/nav-konf-6.png') no-repeat 10px 11px
		.bg7
			background: url('../images/nav-konf-7.png') no-repeat 10px 11px
		.bg8
			background: url('../images/nav-konf-8.png') no-repeat 10px 11px
		.bg9
			background: url('../images/nav-konf-9.png') no-repeat 10px 11px
		.bg10
			background: url('../images/nav-konf-10.png') no-repeat 10px 11px

	.top-item
		margin-top: 2px
	.special
		padding-right: 0
		background: url('../images/nav-bg-right.jpg') no-repeat right 47px
		border-bottom: 0px none
	.special:hover, .special.active, .list-group-item.special.active, .list-group-item.special:hover
		background: transparent url('../images/nav-bg-right.jpg') no-repeat right 47px
		border-bottom: 0px none
		a
			span
				background: #FE320F

	.special-in
		padding: 5px 0 14px
		display: block
		background: url('../images/nav-bg-left.jpg') no-repeat left 47px
		margin-left: 22px
		a
			margin: 0
			color: $color-white
			text-shadow: 1px 1px 1px #000000
			text-align: center
			span
				background: #FE320F
				border-bottom: 0px none
				padding: 7px 0 6px 0
.nav.konf-nav-side > li > a
	padding: 0
.affix
	width: 283px		

#countdown2
	margin: auto
	text-align: center
	.span3
		display: inline-block
		border: 4px solid #D1D1D1
		@include border-radius(8px)
		min-width: 105px
		height: 105px
		color: $color-white
		margin-right: 4px
		background: #1E1E1E url('../images/zegarek-bg.jpg') repeat-x top center
		.digit-container
			@extend .font-size-max
			clear: both
			font-weight: bold
			line-height: 1
			padding-top: 15px
		.label-container
			display: block
			clear: both
			font-weight: normal
			font-size: ceil($font-size-base*1.2)

.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn
	position: absolute
	cursor: pointer
	display: block
	overflow: hidden
	width: 25px
	height: 38px
	top: 190px
	opacity: 0.7
.jssora13l, .jssora13ldn
	left: 15%
	background: url(../images/arr-left.png) no-repeat
.jssora13r, .jssora13rdn
	background: url(../images/arr-right.png) no-repeat
	right: 15%
.jssora13l:hover
	opacity: 1
.jssora13r:hover
	opacity: 1
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
	background: url(../images/jquery-slider/b21.png) no-repeat
	overflow: hidden
	cursor: pointer
.jssorb21
	position: absolute
	bottom: 8px
	left: 50%
	.jssorb21_ins
		position: absolute
		width: 19px
		height: 19px
		text-align: center
		line-height: 19px
		color: white
		font-size: 12px
	div
		background-position: -5px -5px
	div:hover
		background-position: -35px -5px
	.av:hover
		background-position: -35px -5px
/*.jssorb21 .av
	background-position: -65px -5px*/
.jssorb21 .av, .jssorb21 .dn, .jssorb21 .dn:hover
	background-position: -95px -5px

#message-footer
	font-size: 12px
	display: block
	display: none
	z-index: 999
	position: fixed
	bottom: 70px
	margin-top: -35px
	right: 15px
	margin-left: -70px
	width: 58px
	a
		display: block
		padding: 28px
		opacity: 0.8
		background: url(../images/back-top.png) no-repeat center center
	a:hover
		opacity: 1
#map_canvas
	width: 100%
	height: 460px
#map
	background: #4C5D67
	dl
		font-size: ceil($font-size-base*1.1)
	h4, dt
		color: #00A8FE		
.mapa_dymek
	height: 100px

@media (max-width: 816px)
	.slide-content
		.label-type, .labels-bottom
			left: 10%
		.label-category
			right: 10%
@media (max-width: 990px)
	.bg-szolenie-p1
		background: none !important
@media (min-width: 991px)
	.bg-szolenie-p1
		.well
			background: none !important
@media (max-width: 767px)
	.gr-row
		padding-top: 0
		.margin-top0
			margin-top: 26px
	.line-right
		border-right: 0 none
	.slide-content
		.label-type, .labels-bottom
			left: 15%
		.label-category
			right: 15%
	.map-google
		padding-top: 20px

@media (max-width: 662px)
	.slide-content
		.label-type, .labels-bottom
			left: 22%
		.label-category
			right: 22%
@media (max-width: 520px)
	.jssora13l
		display: none
	.jssora13r
		display: none
	.slide-content
		.label-type, .labels-bottom
			left: 27%
		.label-category
			right: 27%
@media (max-width: 436px)
	.navbar-brand
		max-width: 70%
	.slide-content
		.label-type, .labels-bottom
			left: 30%
		.label-category
			right: 30%
	.countdown_cont2
		clear: both
		display: block !important
		text-align: center
@media (max-width: 377px)
	.slide-content
		.label-type, .labels-bottom
			left: 33%
			font-size: 15px
		.label-category
			right: 33%
			font-size: 15px
		.title
			font-size: 20px
		.description
			font-size: 18px
@media (max-width: 395px)
	#nav-lupa form input
		width: auto
		margin-left: 0
@media (max-width: 334px)
	#nav-lupa form input
		width: 160px

/* timeline */

.timeline
	margin: 0
	padding: 0
	position: relative
.timeline:before
	background-color: #2c3840
	border-radius: 3px
	content: ""
	height: 100%
	left: 110px
	position: absolute
	top: 0
	width: 5px
.event
	margin-bottom: 0
	padding-bottom: 30px
	position: relative
.event:last-child
	padding-bottom: 0
.timeline-icon
	margin-left: 93px
	margin-top: 15px
.timeline-icon
	background: none repeat scroll 0 0 rgba(81, 83, 124, 0.3)
	border-radius: 50%
	box-sizing: border-box
	float: left
	height: 40px
	padding: 5px 4px 4px
	position: relative
	transition: all 0.4s ease-in-out 0s
	width: 40px
	z-index: 10
.timeline-icon-container
	background: $color-white
	border-radius: 50%
	display: inline-block
	height: 30px
	line-height: 25px
	margin-left: 1px
	margin-top: -3px
	vertical-align: text-top
	width: 30px
	img
		max-width: 100%
		height: auto
		vertical-align: middle
.timeline-icon-container i
	color: #ffffff
	font-size: 19px
	line-height: 28px
	padding-left: 2px
.event:hover .timeline-icon
	background: none repeat scroll 0 0 #51537c
.time-box
	position: absolute
	top: 18px
	z-index: 1
.time-box time
	color: rgba(0, 0, 0, 0.35)
	font-size: 20px
	font-weight: 600
	padding: 0 0 0 15px
	text-align: left
	text-transform: uppercase
	width: 100%
.time-box sup
	font-size: 12px
	padding-left: 2px
	text-transform: uppercase
.timeline-content
	margin-left: 160px
	margin-top: 0
	padding-top: 0
	perspective: 600px
	position: relative
.event-content
	background: none repeat scroll 0 0 #ffffff
	border: medium none
	border-radius: 0
	box-sizing: border-box
	padding: 1px 16px
	width: 100%
	h4
		font-size: 18px
		padding-top: 8px
.event-content:before
	content: " "
	height: 16px
	left: -8px
	position: absolute
	top: 25px
	width: 8px
.event-title h3
	font-size: 22px
	line-height: 40px
.event-title h3 span
	color: #999999
	font-weight: 400
	text-transform: none
.event-title h4 span
	color: #999999
	font-weight: 400
.konf-contact
	text-align: center
	h4
		color: #eb0116
		font-size: 33px
		font-weight: bold
	h5
		font-size: 24px
		font-weight: bold
		line-height: 1.4
		margin: 0
		color: #333333		
	h6
		font-size: 18px
		font-weight: bold
		color: #333333
		line-height: 1.62857


/* jcarousel */
.jcarousel-wrapper
	margin: 10px 8px 20px 9px
	position: relative
.jcarousel
	position: relative
	overflow: hidden
	width: 100%
.jcarousel ul
	width: 20000em
	position: relative
	list-style: none
	margin: 0
	padding: 0
.jcarousel li
	width: 300px
	float: left
	margin-right: 1px !important
	margin-left: 0px
.jcarousel img
	display: block
	max-width: 100%
	height: auto !important
.jcarousel-control-prev, .jcarousel-control-next
	position: absolute
	display: block
	top: 50%
	margin-top: -15px
	width: 17px
	height: 26px
	text-align: center
.jcarousel-control-prev
	left: -17px
	background: url('../images/car-prev.jpg') no-repeat top center
.jcarousel-control-next
	right: -17px
	background: url('../images/car-nex.jpg') no-repeat top center


.konf-row h3[id]:before, .konf-row #prelegenci:before, #szczegoly:before
	display: block
	content: " "
	margin-top: -75px
	height: 75px
	visibility: hidden